{% extends "layout.html" %}

{% block title %}
    Graph
{% endblock %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block script %}
<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [{
      data: {{ database | safe }}
    }]
  },
  options: {
    parsing: {
      xAxisKey: 'date',
      yAxisKey: 'score'
    }
  }
});



</script>
{% endblock %}

{% block main %}

    <div>
        <canvas id="myChart"></canvas>
    </div>
    
{% endblock %}