{% extends "layout.html" %}

{% block title %}
    User
{% endblock %}

{% block script %}

	TESTER = document.getElementById('tester');
	Plotly.newPlot( TESTER, [{
	x: {{ database[0] }},
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );	

	
	alert("{{ database[2]['date'] }}");

{% endblock %}

{% block main %}
	<form action="/user" method="POST">
		<input type="text" id="user" name="user">
		<button type="submit">Lookup</button>
	</form>
	<div id="tester" style="width:600px;height:250px;"></div>
{% endblock %}