{% extends "layout.html" %}

{% block title %}
    User
{% endblock %}

{% block head %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>

{% endblock %}

{% block script %}
  <script>

  const ctx = document.getElementById('userChart');

  new Chart(ctx, {
    type: 'line',
    label: 'Points',

    data: {
      datasets: [{
        data: {{ database | safe }}
      }]
    },

    options: {
      plugins: {
        title: {
          text: "Total User's Points",
          display: true
        },
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          text: "Date",
          type: 'time',
          title: {
            display: true,
            text: 'Date'
          },
          time: {
            displayFormats: {
              quarter: 'day'
            }
          },
        },
        y: {
          title: {
            display: true,
            text: 'Points'
          }
        }
      },
      parsing: {
        xAxisKey: 'date',
        yAxisKey: 'score'
      },

    }
  });

  </script>
{% endblock %}

{% block main %}
    <div class="flex justify-center space-x-1">
      <form action="/user">
          <input class="text-slate-300 bg-indigo-950 hover:bg-indigo-800 rounded-lg p-3 w-1/16 m-5 shadow-lg" type="text" id="q" name="q" placeholder="Username" value="{{ username }}">
          <input type="checkbox" id="save" name="save" class="" {{ save }}>
          <label for="save" class="mr-5">Save data?</label>
          <button class="bg-indigo-950 hover:bg-indigo-800 duration-100 rounded-md px-3 py-1" type="submit">Lookup</button>
      </form>
    </div>
    <hr>
    <div class="relative h-350-px mx-32">
      <canvas id="userChart"></canvas>
    </div>

{% endblock %}